html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
a {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
html {
  font-size: 16px;
}
*:focus {
  outline: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
.h1 {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 0.8rem;
}
.btn-fly {
  font-size: 13px;
  border: 1px solid #b801c9;
  border-radius: 29px;
  margin: 5px auto;
  background-image: linear-gradient(to bottom, #af00d3 0%, #e61bfa 90%);
  transition: 0.4s;
  padding: 13px;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  width: auto;
  max-width: none;
  margin: 20px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 250px;
  top: 85vh;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
  z-index: 1111;
}
@media (min-width: 768px) {
  .btn-fly {
    display: none;
  }
}
.btn-fly:hover {
  background-image: linear-gradient(to bottom, #af00d3 0%, #e61bfa 40%);
}
.line {
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  margin-top: 15px;
  position: relative;
}
.line:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 83px;
  height: 2px;
  background-color: #c704ba;
}
.line:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 78px;
  height: 2px;
  background-color: #c704ba;
}
.icon-wrap {
  display: flex;
}
.icon-wrap .icon {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #ff1e77;
  border-radius: 100%;
  border: 1px solid #ff1e7788;
}
.icon-wrap .icon svg {
  width: 19px;
}
.icon-wrap .icon svg path {
  fill: #ff1e77;
}
.icon-wrap .icon svg path:hover {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  fill: #ffffff;
}
.icon-wrap .icon:hover {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  background-color: #ff1e77;
}
.icon-wrap .icon:hover > svg > path {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  fill: #ffffff;
}
.icon-wrap .icon-instagram {
  margin-left: 15px;
}
.icon-wrap .icon-instagram svg {
  width: 15px;
}
header {
  background: #004870;
  height: auto;
}
@media (min-width: 850px) {
  header {
    height: 538px;
  }
}
header .container-header {
  display: flex;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 960px) {
  header .container-header {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1260px) {
  header .container-header {
    max-width: none;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
header .container-header .left {
  margin-top: 0px;
  width: 80px;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
@media (min-width: 960px) {
  header .container-header .left {
    width: 30%;
  }
}
@media (min-width: 1260px) {
  header .container-header .left {
    max-width: none;
    display: block;
    justify-content: center;
  }
}
header .container-header .left .plashka {
  display: block;
  background-size: cover;
  height: 100px;
  background-image: none;
  margin-left: 20px;
  width: 50px;
}
@media (min-width: 1260px) {
  header .container-header .left .plashka {
    background-image: url(images/curve.png);
    width: 410px;
    margin-left: 0;
  }
}
header .container-header .left .plashka img {
  width: 110px;
}
@media (min-width: 1260px) {
  header .container-header .left .plashka img {
    margin-left: 200px;
  }
}
header .container-header .mid {
  margin-left: 0;
  display: flex;
  width: 90px;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 0;
}
@media (min-width: 740px) {
  header .container-header .mid {
    width: 20%;
    -webkit-justify-content: center;
    justify-content: center;
    position: initial;
    right: auto;
    top: auto;
  }
}
@media (min-width: 1260px) {
  header .container-header .mid {
    display: block;
    margin-left: -40px;
  }
}
header .container-header .mid .icon-wrap {
  display: flex;
  margin-left: 0;
  margin-top: 10px;
}
@media (min-width: 1260px) {
  header .container-header .mid .icon-wrap {
    margin-left: 165px;
  }
}
header .container-header .right {
  display: flex;
  width: 100%;
  order: 0;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-left: 0;
}
@media (min-width: 500px) {
  header .container-header .right {
    margin-left: 10px;
  }
}
@media (min-width: 740px) {
  header .container-header .right {
    justify-content: center;
    width: 60%;
    order: initial;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 1260px) {
  header .container-header .right {
    width: 33%;
    margin-left: 3%;
  }
}
header .container-header .right .right-wrap {
  width: 100%;
}
@media (min-width: 500px) {
  header .container-header .right .right-wrap {
    width: 480px;
  }
}
header .container-header .right .top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  header .container-header .right .top {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
header .container-header .right .top .btn-nice {
  text-align: center;
  text-decoration: none;
  color: #b801c9;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  border: 1px solid #b801c9;
  border-radius: 19px;
  padding: 11px 63px;
  margin: 10px;
  width: 100%;
}
@media (min-width: 500px) {
  header .container-header .right .top .btn-nice {
    width: auto;
  }
}
header .container-header .right .top .btn-nice:hover {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  background-color: #b801c9;
  border: 1px solid #b801c9;
  color: #fff;
}
header .container-header .right .top .btn-nice_pink {
  text-align: center;
  text-decoration: none;
  color: #ff1e77;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  border: 1px solid #ff1e77;
  border-radius: 19px;
  padding: 11px 58px;
  width: 100%;
  margin-top: 0;
}
@media (min-width: 500px) {
  header .container-header .right .top .btn-nice_pink {
    margin: 10px;
    width: auto;
  }
}
header .container-header .right .top .btn-nice_pink:hover {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  background-color: #ff1e77;
  border: 1px solid #ff1e77;
}
header .container-header .right .bottom {
  font-size: 16px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 14px;
  display: flex;
  margin-top: 11px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}
@media (min-width: 500px) {
  header .container-header .right .bottom {
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
  }
}
header .container-header .right .bottom a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}
@media (min-width: 480px) {
  header .container-header .right .bottom a {
    font-size: 14px;
    margin-bottom: 0;
    width: auto;
  }
}
header .container-header .right .bottom a:hover {
  text-decoration: underline;
  color: #fff;
  transition: 0.35s;
  background-color: transparent;
  opacity: 0.7;
}
header .container-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 850px) {
  header .container-main {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
header .container-main .main {
  max-width: 860px;
  margin-top: 23px;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 850px) {
  header .container-main .main {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
header .container-main .left {
  width: 100%;
  order: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  header .container-main .left {
    padding-left: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 850px) {
  header .container-main .left {
    width: 50%;
    order: initial;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  header .container-main .left {
    padding-left: 0;
  }
}
header .container-main .right {
  margin-left: 10px;
  width: 280px;
  height: 230px;
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  header .container-main .right {
    width: 100%;
    height: 290px;
    margin-left: 0;
    margin-bottom: 40px;
  }
}
@media (min-width: 850px) {
  header .container-main .right {
    width: 50%;
    height: auto;
    margin-left: 0;
    margin-bottom: 0;
  }
}
header .container-main .right .rectangle {
  background-image: url(images/runner.png);
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 480px) {
  header .container-main .right .rectangle {
    width: 360px;
  }
}
@media (min-width: 850px) {
  header .container-main .right .rectangle {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
header .container-main .right .play {
  background-image: url(images/play.png);
  font-size: 13px;
  color: #fff;
  text-align: center;
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-left: 70px;
}
@media (min-width: 480px) {
  header .container-main .right .play {
    margin-left: 120px;
  }
}
header .container-main .title {
  font-weight: 800;
  text-transform: uppercase;
  color: #ff1e75;
  width: auto;
  border: none;
  height: auto;
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto;
  margin-left: 10px;
}
@media (min-width: 480px) {
  header .container-main .title {
    font-family: AGBookProBol, sans-serif;
    width: 30%;
    height: 156px;
    border-bottom: 2px solid #ff1e75;
    font-size: 30px;
    margin: 0;
    font-weight: 800;
  }
}
header .container-main .desc {
  font-family: Roboto;
  color: #fff;
  font-weight: 400;
  margin: 16px 0 16px 11px;
  width: auto;
  font-size: 16px;
}
@media (min-width: 480px) {
  header .container-main .desc {
    margin: 16px 0;
    width: 60%;
    font-size: 13px;
  }
}
header .container-main .btn-gradient {
  color: #fff;
  font-size: 13px;
  border: 1px solid #b801c9;
  border-radius: 29px;
  background-image: linear-gradient(to bottom, #af00d3 0%, #e61bfa 90%);
  transition: 0.4s;
  text-align: center;
  padding: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80%;
}
@media (min-width: 480px) {
  header .container-main .btn-gradient {
    margin: 20px 0;
    width: 180px;
  }
}
header .container-main .btn-gradient:hover {
  background-image: linear-gradient(to bottom, #af00d3 0%, #e61bfa 40%);
}
header .container-main .btn-gradient .btn-color {
  text-decoration: none;
  color: #fff;
}
section.programs {
  padding-top: 20px;
  background: #004870;
}
section.programs .title {
  font-family: Roboto-Bold, sans-serif;
  font-size: 39px;
  text-align: center;
  font-weight: bold;
  margin-top: 45px;
  color: #FFF;
}
section.programs .line {
  display: flex;
  justify-content: center;
}
section.programs .line img {
  width: 140px;
}
section.programs .block {
  display: flex;
  margin-top: 41px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 40px;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 400px) {
  section.programs .block {
    justify-content: space-between;
  }
}
@media (min-width: 750px) {
  section.programs .block {
    padding: 0;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
section.programs .block .module {
  text-decoration: none;
  width: 140px;
  height: 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  margin: 5px;
}
@media (min-width: 480px) {
  section.programs .block .module {
    margin-bottom: 20px;
  }
}
@media (min-width: 750px) {
  section.programs .block .module {
    width: 10%;
    min-width: 118px;
    margin-bottom: 0;
  }
}
section.programs .block .module:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
section.programs .block .text {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: -15px;
  color: #FFF;
}
section.programs .block .module_1 .school {
  border-bottom: 1px solid #cf06b1;
  padding-bottom: 9px;
  height: 54px;
  margin-top: 19px;
}
section.programs .block .module_1 .school img {
  width: 55px;
}
section.programs .block .module_2 .target {
  border-radius: 4px;
}
section.programs .block .module_2 .target img {
  width: 54px;
  margin-top: 18px;
  border-bottom: 1px solid #cf06b1;
  padding-bottom: 9px;
}
section.programs .block .module_3 .user {
  border-radius: 4px;
}
section.programs .block .module_3 .user img {
  width: 60px;
  margin-top: 17px;
  border-bottom: 1px solid #cf06b1;
  padding-bottom: 9px;
}
section.programs .block .module_4 .camp {
  border-radius: 4px;
}
section.programs .block .module_4 .camp img {
  width: 60px;
  margin-top: 22px;
  border-bottom: 1px solid #cf06b1;
  padding-bottom: 9px;
}
section.programs .block .module_5 .phone {
  border-bottom: 1px solid #cf06b1;
  height: 82px;
  width: 50px;
  display: flex;
  justify-content: center;
}
section.programs .block .module_5 .phone img {
  width: 31px;
  margin-top: 19px;
  padding-bottom: 9px;
}
section.programs .block .module_6 .event {
  border-radius: 4px;
}
section.programs .block .module_6 .event img {
  width: 54px;
  margin-top: 19px;
  border-bottom: 1px solid #cf06b1;
  padding-bottom: 9px;
}
section.gallary {
  background: #004870;
}
section.gallary .title {
  text-align: center;
  margin: -44px 0 11px 0;
  color: #FFF;
}
section.gallary .line {
  display: flex;
  justify-content: center;
}
section.gallary .line img {
  width: 130px;
}
section.gallary .photo {
  margin-top: 44px;
}
section.gallary .photo .album {
  display: flex;
}
section.gallary .photo .album .picture {
  position: relative;
  flex: 1;
  background-image: url(images/slider-static.jpg);
  display: none;
}
@media (min-width: 1125px) {
  section.gallary .photo .album .picture {
    display: block;
  }
}
section.gallary .photo .album .picture .control {
  position: absolute;
  top: 40%;
  width: 47px;
  height: 47px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 0 3px #00000000;
}
section.gallary .photo .album .picture .control:hover {
  box-shadow: 0 0 3px #000;
}
section.gallary .photo .album .picture .control:hover:before,
section.gallary .photo .album .picture .control:hover:after {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  background-color: #c704ba;
}
section.gallary .photo .album .picture .control-left {
  right: 38px;
}
section.gallary .photo .album .picture .control-left:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 13px;
  background-color: #000;
  left: 16px;
  top: 19px;
  transform: rotate(-45deg);
}
section.gallary .photo .album .picture .control-left:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 13px;
  background-color: #000;
  left: 16px;
  top: 28px;
  transform: rotate(46deg);
}
section.gallary .photo .album .picture .control-right {
  left: 38px;
  transform: rotate(180deg);
}
section.gallary .photo .album .picture .control-right:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 13px;
  background-color: #000;
  left: 16px;
  top: 19px;
  transform: rotate(-45deg);
}
section.gallary .photo .album .picture .control-right:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 13px;
  background-color: #000;
  left: 16px;
  top: 28px;
  transform: rotate(46deg);
}
section.gallary .photo .album .slider {
  display: flex;
  overflow: hidden;
}
@media (min-width: 1125px) {
  section.gallary .photo .album .slider {
    max-width: 810px;
  }
}
section.gallary .photo .album .slider .owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 1125px) {
  section.gallary .photo .album .slider .owl-dots {
    display: none;
  }
}
section.gallary .photo .album .slider .slide,
section.gallary .photo .album .slider .screen {
  cursor: pointer;
}
section.gallary .photo .album .slider .slide:hover,
section.gallary .photo .album .slider .screen:hover {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  transform: scale(1.2);
}
section.gallary .photo .album .slider .screen {
  cursor: pointer;
  display: block;
}
section.gallary .photo .album .slider .screen:hover > img {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  transform: scale(1.2);
}
section.gallary .photo .album .slider img {
  flex: 1;
}
@media (min-width: 1125px) {
  section.gallary .photo .album .slider img {
    max-width: 270px;
  }
}
section.approach {
  text-align: center;
  margin-top: 78px;
  margin-top: 20px;
  background-image: none;
  background: #004870;
  padding-bottom: 1px;
}
section.approach img {
  width: 520px;
}
section.approach .title {
  margin-top: -20px;
  color: #FFF;
}
section.approach .line {
  display: flex;
  justify-content: center;
}
section.approach .line img {
  width: 130px;
}
section.approach .communication {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
  width: auto;
}
@media (min-width: 860px) {
  section.approach .communication {
    width: 820px;
  }
}
section.approach .communication .info {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.175);
  border-radius: 8px;
  padding: 15px 16px 37px 16px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 17px;
  width: 100%;
}
@media (min-width: 500px) {
  section.approach .communication .info {
    margin: 0 0 17px 0;
    width: 49%;
  }
}
section.approach .communication .info .text {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #c704ba;
  padding-bottom: 11px;
  max-width: 250px;
}
section.approach .communication .info p {
  font-size: 11.5px;
  text-align: left;
  margin-top: 9px;
  line-height: 17px;
  max-width: 310px;
  color: #464646;
}
section.approach .communication .info_target {
  background-image: url(images/target_2.svg);
  background-size: 238px;
  background-repeat: no-repeat;
  background-position: 255px;
}
section.approach .communication .info_metodika {
  background-image: url(images/credit-card.svg);
  background-size: 276px;
  background-position: 245px;
  background-repeat: no-repeat;
}
section.approach .communication .info_supertrainer {
  background-image: url(images/coach.svg);
  background-size: 307px;
  background-position: 185px;
  background-repeat: no-repeat;
}
section.approach .communication .info_team {
  background-image: url(images/business.svg);
  background-size: 307px;
  background-position: 185px;
  background-repeat: no-repeat;
}
section.approach .communication .info_support {
  background-image: url(images/doctor.svg);
  background-size: 307px;
  background-position: 255px -100px;
  background-repeat: no-repeat;
}
section.approach .communication .info_headquarters {
  background-image: url(images/help.svg);
  background-size: 318px;
  background-position: 176px;
  background-repeat: no-repeat;
}
section.approach .btn-exercise {
  font-size: 13px;
  border: 1px solid #b801c9;
  border-radius: 29px;
  background-image: linear-gradient(to bottom, #af00d3 0%, #e61bfa 90%);
  transition: 0.4s;
  text-align: center;
  padding: 11px;
  margin: 40px;
  width: auto;
  max-width: none;
  margin: 20px;
}
@media (min-width: 360px) {
  section.approach .btn-exercise {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
  }
}
section.approach .btn-exercise:hover {
  background-image: linear-gradient(to bottom, #af00d3 0%, #e61bfa 40%);
}
section.approach .btn-workout {
  text-decoration: none;
  color: #fff;
}
section.directions {
  background: #004870;
  padding: 34px 34px 53px 34px;
}
section.directions .title {
  margin-top: 5px;
  text-align: center;
  color: #FFF;
}
section.directions .line {
  display: flex;
  justify-content: center;
}
section.directions .line img {
  width: 130px;
}
section.directions .tiles .chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 880px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
section.directions .tiles .chips .chip {
  margin-right: 13px;
  margin-bottom: 13px;
  width: 280px;
  height: 205px;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
section.directions .tiles .chips .chip .text {
  color: #fff;
  font-size: 21px;
  font-weight: 800;
  margin: 10px;
  line-height: 26px;
}
section.directions .tiles .chips .chip .numbers {
  font-family: Proxima Nova Th, sans-serif;
  position: absolute;
  font-size: 120px;
  right: -8px;
  bottom: -23px;
  color: #fff;
  font-weight: 800;
  opacity: 0.425;
}
section.directions .tiles .chips .chip_run {
  background-image: url(images/run.png);
}
section.directions .tiles .chips .chip_physical {
  background-image: url(images/physical.png);
}
section.directions .tiles .chips .chip_gto {
  background-image: url(images/gto.png);
}
section.directions .tiles .chips .chip_stretching {
  background-image: url(images/stretching.png);
}
section.directions .tiles .chips .chip_vuz {
  background-image: url(images/vuz.png);
}
section.marathon {
  background: #004870;
}
@media (min-width: 940px) {
  section.marathon {
    margin: 0;
    padding: 75px 100px 75px 100px;
  }
}
section.marathon .online {
  background-image: url(images/online.png);
  height: auto;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  padding-bottom: 20px;
}
@media (min-width: 940px) {
  section.marathon .online {
    height: 182px;
    padding-bottom: 0;
  }
}
section.marathon .online .title {
  color: #fff;
  font-weight: 800;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  line-height: normal;
  color: #FFF;
}
@media (min-width: 940px) {
  section.marathon .online .title {
    padding: 35px 0 0 0;
    font-size: 33px;
    line-height: 38px;
  }
}
section.marathon .line {
  display: none;
}
@media (min-width: 940px) {
  section.marathon .line {
    display: block;
  }
}
section.marathon .line img {
  display: none;
}
section.marathon .btn-chat {
  cursor: pointer;
  font-size: 13px;
  border: 1px solid #b801c9;
  border-radius: 29px;
  margin-top: -25px;
  background-image: linear-gradient(to bottom, #af00d3 0%, #e61bfa 90%);
  transition: 0.4s;
  width: 240px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 13px;
}
section.marathon .btn-chat:hover {
  background-image: linear-gradient(to bottom, #af00d3 0%, #e61bfa 40%);
}
section.marathon .btn-chat .btn-chatroom {
  text-decoration: none;
  color: #fff;
}
section.creator {
  background: #004870;
}
@media (min-width: 940px) {
  section.creator {
    padding: 29px 201px 29px 201px;
  }
}
section.creator .title {
  text-align: center;
  color: #FFF;
}
@media (min-width: 940px) {
  section.creator .title {
    margin-top: -51px;
  }
}
section.creator .container {
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  margin-top: 60px;
}
@media (min-width: 940px) {
  section.creator .container {
    transform: translateX(43px);
    margin-top: 0;
  }
}
section.creator .container .left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 100%;
}
@media (min-width: 940px) {
  section.creator .container .left {
    max-width: none;
  }
}
section.creator .container .left .photo {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  flex-wrap: wrap;
}
@media (min-width: 940px) {
  section.creator .container .left .photo {
    margin: -18px 43px;
  }
}
section.creator .container .left .photo .foto {
  width: 100%;
  object-fit: contain;
}
section.creator .container .left .photo .name {
  text-align: center;
  color: #af00d3;
  font-weight: 700;
  width: 100%;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 8px;
  margin-top: -2px;
}
section.creator .container .right {
  max-width: 470px;
}
section.creator .container .right ul {
  font-size: 13px;
  font-weight: 800;
  margin: 36px 12px;
  line-height: 14px;
  color: #FFF;
}
section.creator .container .right ul li {
  margin-bottom: 15px;
}
section.cost {
  background: #004870;
}
section.cost .title {
  text-align: center;
  font-weight: 800;
  color: #FFF;
}
section.cost .sport {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 40px;
  max-width: 839px;
  margin-left: auto;
  margin-right: auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 860px) {
  section.cost .sport {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
section.cost .sport .sportsman_text {
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  margin: 12px 11px;
  height: 180px;
}
section.cost .sport .sportsman_text .sportsman {
  width: 258px;
  height: 104px;
}
section.cost .sport .sportsman_text .text {
  margin-top: 14px;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  color: #FFF;
}
section.cost .sport .sportsman_text .text:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -8px;
  width: 59px;
  height: 1px;
  background-color: #c704ba;
  margin-left: auto;
  margin-right: auto;
}
section.cost .sport .sportsman_text .price {
  font-size: 13px;
  font-weight: 600;
  color: #da58d1;
  margin-top: 17px;
}
section.cost .btn-free {
  font-size: 13px;
  border: 1px solid #b801c9;
  border-radius: 29px;
  margin: 5px auto;
  background-image: linear-gradient(to bottom, #af00d3 0%, #e61bfa 90%);
  transition: 0.4s;
  padding: 13px;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  width: auto;
  max-width: none;
  margin: 20px;
}
@media (min-width: 360px) {
  section.cost .btn-free {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
  }
}
section.cost .btn-free:hover {
  background-image: linear-gradient(to bottom, #af00d3 0%, #e61bfa 40%);
}
footer .container-footer {
  display: flex;
  margin-top: -20px;
  background: #004870;
  padding-bottom: 23px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 700px) {
  footer .container-footer {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1125px) {
  footer .container-footer {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
footer .container-footer .left {
  background-image: url(images/curve.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
@media (min-width: 1125px) {
  footer .container-footer .left {
    width: 33%;
    display: block;
  }
}
footer .container-footer .left .logo_footer {
  display: flex;
  justify-content: flex-end;
  max-width: 74%;
}
footer .container-footer .left .logo_footer img {
  width: 110px;
}
footer .container-footer .middle {
  margin-top: 20px;
  margin-left: 0;
}
@media (min-width: 1125px) {
  footer .container-footer .middle {
    margin-left: -13px;
  }
}
footer .container-footer .middle .btn-pink {
  text-align: center;
  text-decoration: none;
  color: #ff1e77;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  border: 1px solid #ff1e77;
  border-radius: 19px;
  margin-bottom: 5px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
@media (min-width: 360px) {
  footer .container-footer .middle .btn-pink {
    min-width: 345px;
    padding: 0;
  }
}
footer .container-footer .middle .btn-pink:hover {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  border: 1px solid #ff1e77;
  background-color: #ff1e77;
  color: #FFF;
}
footer .container-footer .middle .btn-purple {
  text-align: center;
  text-decoration: none;
  color: #b801c9;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  border: 1px solid #b801c9;
  border-radius: 19px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 360px) {
  footer .container-footer .middle .btn-purple {
    min-width: 345px;
  }
}
footer .container-footer .middle .btn-purple:hover {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  border: 1px solid #b801c9;
  background-color: #b801c9;
  color: #fff;
}
footer .container-footer .right {
  display: flex;
  width: auto;
  margin-left: 30px;
}
@media (min-width: 1125px) {
  footer .container-footer .right {
    width: 32%;
    margin-left: 2%;
  }
}
footer .container-footer .right .icon-wrap {
  margin-top: 20px;
}
footer .container-footer .right .icon-wrap .icon-instagram {
  margin-left: 10px;
}
footer .container-footer .right .contact-wrap {
  font-size: 13px;
  margin-left: 28px;
  margin-top: 18px;
  color: #fff;
}
footer .container-footer .right .contact-wrap .contact {
  display: block;
  color: #fff;
  margin-bottom: 19px;
  background-repeat: no-repeat;
  padding-left: 30px;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  text-decoration: none;
}
footer .container-footer .right .contact-wrap .contact_phone {
  background-image: url(images/telephone.png);
  background-size: 15px;
  height: 15px;
}
footer .container-footer .right .contact-wrap .contact_mail {
  background-image: url(images/mail.png);
}
footer .container-footer .right .contact-wrap .contact_address {
  background-image: url(images/pin.png);
  background-size: 14px;
  height: 20px;
}
